.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

#box {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 200px;
    height: 200px;
    background: rgb(132, 229, 229);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    width: 80px;
    height: 40px;
    background: aqua;
}

#cont {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ffc800;
    border-radius: 60px;
    height: 35px;
    width: 40px;
    transition: 1s;
    margin-left: 20px;
}

#cont:hover {
    transform: scale(1.2);
    width: 60px;
}

#cart_img {
    position: relative;
    left: 8px;
    transition: 1s
}

#cont:hover>#cart_count {
    visibility: visible;
    opacity: 1;
}

#cont:hover>#cart_img {
    left: 0;
}

#cart_count {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    color: #fff;
}